:root {
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --very-dark-grayish-blue: hsl(236, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --light-grayish-blue: hsl(240, 5%, 91%);
}

body {
  font-family: "Kumbh Sans", sans-serif;
  overflow-x: hidden;
  background-color: var(--soft-violet);
  display: grid;
  align-items: center;
  height: 90vh;
}

.card {
  position: relative;
  display: grid;
  align-self: center;
  grid-template-columns: 1fr 1fr;
  width: 50%;
  margin: auto;
  background-color: #fff;
  padding: 80px;
  border-radius: 20px;
  background-image: url(../images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-position: top -200px left -630px;
  background-size: 1000px 900px;
}
.card__image {
  position: absolute;
  left: -100px;
  top: 100px;
}

.box-image {
  position: absolute;
  left: -150px;
  top: 230px;
  z-index: 2;
}

.faq-header {
  font-size: 2.5rem;
  font-weight: 700;
  padding: 24px;
}

.faq-content {
  margin: 0 auto;
}

.faq-question {
  padding: 20px 0;
  border-bottom: 1px solid var(--light-grayish-blue);
  width: 110%;
}

.panel-title {
  font-size: 24px;
  width: 100%;
  position: relative;
  margin: 0;
  display: block;
  cursor: pointer;
}

.panel:checked ~ .panel-title {
  font-weight: 700;
}

.panel-content {
  font-size: 20px;
  margin-left: -10px;
  height: 0;
  overflow: hidden;
  z-index: 1;
  position: relative;
  opacity: 0;
  transition: 0.4s ease;
  color: var(--dark-grayish-blue);
}

.panel:checked ~ .panel-content {
  height: auto;
  opacity: 1;
  padding: 14px;
}

.plus {
  position: absolute;
  margin-left: 20px;
  margin-top: 1.2rem;
  width: 1rem;
  user-select: none;
  transition: 0.2s ease;
  right: 50px;
}

.panel:checked ~ .plus {
  transform: rotate(180deg);
}

.panel {
  display: none;
}

@media only screen and (min-width: 375px) and (max-width: 1440px) {
  .card {
    display: grid;
    position: unset;
    grid-template-columns: 1fr;
    margin-top: 200px;
    padding: 20px;
    width: 80%;
    background-image: url(../images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-size: 250px 100px;
    background-position: top -10% left 50%;
  }
  .card__faq {
    position: relative;
    width: 90%;
  }

  .card__image {
    position: absolute;
    justify-self: center;
    margin: auto;
    width: 200px;
    top: 0;
    left: 0;
    bottom: 65%;
    right: 0;
  }
  .plus {
    right: 0;
  }
  .faq-header {
    width: 100%;
    text-align: center;
  }
  .faq-question {
    position: relative;
  }
  .panel-title {
    width: 90%;
  }
}
